<%= content_for :body  do %>
    
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Browse</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">

                <% @shop_array.each do |random| %>
                    <% EInfo.where(:id => random).each do |ei| %>
                        <div class="col-md-3 col-sm-6">
                            <div class="single-shop-product">
                                <div class="product-upper">
                                    <%= image_tag(ei.image_name, :alt => "") %>
                                </div>
                                <h2><%= link_to ei.title, product_url(:id => ei.id), 'data-no-turbolink'.to_sym => true %>

                                <% Item.where(:e_info_id => ei.id).limit(1).each do |item| %> 

                                    <% if item.auction == true %>
                                        &nbsp;(Auction Item)
                                    <% end %>
                                    </h2>
                                    
                                    <div class="product-carousel-price">
                                        <ins>$<%= item.reserve_price %></ins> <del>$<%= (item.reserve_price.to_i + 10) %></del>&nbsp;&nbsp;
                                        <%# so messy %>
                                        <% (EReview.where(:e_info_id => ei.id).average(:rating).to_f.floor).times do %>
                                            <i class="fa fa-star"></i>
                                        <% end %>
                                        <% if ((EReview.where(:e_info_id => ei.id).average(:rating).to_f * 2.0).round / 2.0) > EReview.where(:e_info_id => ei.id).average(:rating).to_f.floor %>
                                            <i class="fa fa-star-half"></i>
                                        <% end %>
                                    </div>
                                <% end %>
                                
                                <!-- <div class="product-option-shop">
                                    <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                                </div>     -->                   
                            </div>
                        </div>
                    <% end %>
                <% end %>

            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="product-pagination text-center">
                        <nav>
                          <ul class="pagination">
                            <li>
                              <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>
                            <li><%= link_to '1', shop_url, 'data-no-turbolink'.to_sym => true %></li>
                            <li><%= link_to '2', shop_url, 'data-no-turbolink'.to_sym => true %></li>
                            <li><%= link_to '3', shop_url, 'data-no-turbolink'.to_sym => true %></li>
                            <li><%= link_to '4', shop_url, 'data-no-turbolink'.to_sym => true %></li>
                            <li><%= link_to '5', shop_url, 'data-no-turbolink'.to_sym => true %></li>
                            <li>
                              <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                            </li>
                          </ul>
                        </nav>                        
                    </div>
                </div>
            </div>
        </div>
    </div>

<% end %>