<%= content_for :body  do %>
    
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Product</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">                 
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Other Products</h2>
                        <% @product_array.first(8).each do |product| %>
                            <% EInfo.where(id: product).each do |ei| %>
                                <div class="thubmnail-recent">
                                    <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                                    <h2><%= link_to ei.title, product_url(id: product), 'data-no-turbolink'.to_sym => true %></h2>                             
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                
                <div class="col-md-8">
                    <div class="product-content-right">
                        <div class="product-breadcroumb">
                            <a href="#">Home</a>
                            <% @cat_array.each do |cat| %>
                                <a href="#"><%= cat %></a>
                            <% end %>
                            <a href="#"><%= @einfo.title %></a>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="product-images">
                                    <div class="product-main-img">
                                        <%= image_tag(@einfo.image_name, :alt => "") %>
                                    </div>
                                    
                                    <div class="product-gallery">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="product-inner">
                                    <h2 class="product-name"><%= @einfo.title %></h2>
                                    <% Item.where(:e_info_id => @einfo.id).limit(1).each do |item| %>
                                        <% if item.auction != true %>
                                            <div class="product-inner-price">
                                                <ins>$<%= item.reserve_price %></ins> <del>$<%= (item.reserve_price.to_i + 10) %></del><br>
                                                <ins>Quanitity left:</ins> <%= item.quantity %>
                                            </div> 
                                        
                                            <% if current_user.nil? %>
                                                <div class="product-inner-price">
                                                    <ins>You are not logged in. You must log in to buy items.</ins>
                                                </div>
                                            <% else %>
                                                <% if item.quantity > 0 %>
                                                    <%= form_tag product_delete_path(params[:id]), method: 'get', :class => 'navbar-form' do %>
                                                            <div class="quanitiy">
                                                                <%= number_field_tag 'quantity', 1, :class => 'input-text qty text' %>
                                                            </div>
                                                            <br>
                                                            <%= submit_tag "Buy Item", :class => 'btn btn-default', data: { confirm: 'Are you sure you want to play this order?'} %>
                                                        </div>
                                                    <% end %>
                                                    <br>
                                                <% end %>
                                            <% end %>
                                        <% else %>
                                            <% BidInfo.where(:item_id => item.id).limit(1).each do |bid| %>
                                                <% AuctionProcess.where(:bid_info_id => bid.id).order('bid_price DESC').limit(1).each do |ap| %>
                                                    <div class="product-inner-price">
                                                        <ins>Auction Price</ins> $<%= ap.bid_price %><br>
                                                        <ins>Ending Date</ins> <%= bid.end_time.strftime("%m/%d/%y: %I:%M %p") %>
                                                    </div>


                                                    <% if current_user.nil? %>
                                                        <div class="product-inner-price">
                                                            <ins>You are not logged in. You must log in to place bids.</ins>
                                                        </div>
                                                    <% else %>
                                                        <% if Time.now.to_i < bid.end_time.to_i %>
                                                            <%= form_tag product_bid_path(params[:id]), method: 'get', :class => 'navbar-form' do %>
                                                                <div class='input-group'>
                                                                    <div class="quanitiy">
                                                                        $ <%= text_field_tag 'bid', 1, :class => 'input-text qty text' %>
                                                                    </div>
                                                                    <%= hidden_field_tag :hid, item.id %>
                                                                    <div class='input-group-btn'>
                                                                        <%= submit_tag "Place Bid", :class => 'btn btn-default', data: { confirm: 'Are you sure you want to play this bid?' } %>
                                                                    </div>
                                                                </div>
                                                            <% end %>
                                                            <br>
                                                        <% end %>
                                                    <% end %>

                                                <% end %>
                                            <% end %>
                                        <% end %>
                                    <% end %> 

         <!--                            <form action="" method='' class="cart">
                                        <div class="quantity">
                                            <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                                        </div>
                                        <button class="add_to_cart_button" type="submit">Buy item</button>
                                    </form>    -->
                                    
                                    <div class="product-inner-category">
                                        <p>Category: <a href=""><%= @cat_array.last %></a><br>
                                        Tags:
                                        <% ETag.where(:e_info_id => @einfo.id).each do |tag| %>
                                            <a href="#"><%= tag.name %></a>
                                            <% if ETag.where(:e_info_id => @einfo.id).last.name != tag.name %>
                                                ,
                                            <% else %>
                                                <% break %>
                                            <% end %>
                                        <% end %>
                                        </p>
                                    </div> 
                                    
                                    <div role="tabpanel">
                                        <ul class="product-tab" role="tablist">
                                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Reviews</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                                <h2>Product Description</h2>  
                                                <p><%= @einfo.description %></p>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="profile">
                                                <h2>Reviews</h2>

                                                <% EReview.where(:e_info_id => @einfo.id).each do |rev| %>
                                                    <div>
                                                        <% (rev.rating).times do %>
                                                            <i class="fa fa-star"></i>
                                                        <% end %><br>

                                                        <%= rev.comment %><br><br>
                                                    </div>
                                                <% end %>

                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="related-products-wrapper">
                            <h2 class="related-products-title">Related Products</h2>
                            <div class="related-products-carousel">

                                <% ECategory.where(:parent_cat_id => (ECategory.where(:id => @einfo.e_category_id).first.parent_cat_id)).each do |rel_item| %>
                                    <% EInfo.where(:e_category_id => rel_item.id).each do |rel_info| %>
                                    <div class="single-product">
                                        <div class="product-f-image">
                                            <%= image_tag(rel_info.image_name, :alt => "") %>
                                        </div>

                                        <h2><%= link_to rel_info.title, product_url(:id => rel_info.id), 'data-no-turbolink'.to_sym => true %></h2>

                                    </div>
                                    <% end %>
                                <% end %>
                                <!--
                                <div class="single-product">
                                    <div class="product-f-image">
                                        <img src="img/product-6.jpg" alt="">
                                        <div class="product-hover">
                                            <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                            <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                        </div>
                                    </div>

                                    <h2><a href="">Samsung gallaxy note 4</a></h2>

                                    <div class="product-carousel-price">
                                        <ins>$400.00</ins>
                                    </div>                            
                                </div>-->
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>

<% end %>